<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="mt-5">
  <div class="mat-elevation-z8" fxFlex="50" fxLayout="column" fxFlexAlign="center center">
    <!-- <div  fxFlex="100" >
      <app-content-header fxFlex="100"
        [icon]="'error'"
        [title]="'Resource Not Found'"
        [hasBgImage]="true"
        [class]="'py-4'">
      </app-content-header>
    </div> -->
    <br>
    <br>
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" class="p-3">
      <h4 style="font-weight: bold">The resource you are looking for is not found.</h4>
      <button fxFlex="20" mat-raised-button color="primary" class="mt-4" routerLink="/">
        <mat-icon  >home</mat-icon>
      </button>
    </div>

    <br>
  </div>
</div>
