<div fxLayout="column">

  <div fxFlex="100" class="mt-2 pt-3 green-bg white">
    <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">
      <h1 class="white-title">{{'pageHeader.Whylib_report'}}</h1>
      <div fxLayout.lt-md="column" fxLayout="row" fxFill fxLayoutAlign="center center" class="mt-4">

        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30">

          <p>Description Goes Here............
            Use this service to check that the company name you intend to establish is not taken up by other customers
            Use this service to check that the company name you intend to establish is not taken up by other customers
            Use this service to check that the company name you intend to establish is not taken up by other customers
            Use this service to check that the company name you intend to establish is not taken up by other customers


          </p>

        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50">

          <h3>Video Goes Here</h3>

        </div>


      </div>

    </div>
  </div>


</div>


