<div>
  <mat-toolbar class="landing-toolbar mat-elevation-z8 p-0" fxLayoutAlign="" fxLayout.lt-lg="column"
               fxLayout.lg="row" fxLayout.gt-lg="row" color="primary">

    <div fxLayout="row" fxFlex.gt-md="15" fxLayoutAlign="center center" class="white-bg">
      <div fxLayout="row" >
        <a routerLink="/" fxLayout="row" fxLayoutAlign="center center" class="logo">
          <img class=" lib_report-logo" [src]="configService.assetsUrl+'/logo/LION-logo.jpg'" alt="logo">
        </a>
      </div>
    </div>
    <!-- <div fxFlex.lt-md="100" fxFlex.gt-md="10">
      <div fxLayout="row" fxFlexAlign="end end">
        <app-lang-switcher fxFlexAlign="end"></app-lang-switcher>
      </div>
    </div> -->
  </mat-toolbar>

</div>

