<div class="form-container">
<div [formGroup]="ChangePasswordForm">
    <!-- <div>
        <mat-form-field>
            <mat-label>UserName:</mat-label>
            <input formControlName="userName" required matInput>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </div> -->
    <div>
        <mat-form-field>
        <mat-label>Old Password:</mat-label>
        <input formControlName="oldPassword" required matInput type="password">
        <!-- <mat-icon matSuffix>lock</mat-icon> -->
        <mat-error *ngIf="oldPassword.hasError('required')">
            Old Password is required
        </mat-error>
        </mat-form-field>
    </div>
    <div formGroupName="passwords" class="container-form-fields" style="width: 100%;"> 
    <div class="form-field">
      <mat-form-field>
        <mat-label>New Password:</mat-label>
        <input formControlName="Password" required matInput type="password">
        <!-- <mat-icon matSuffix>lock</mat-icon> -->
        <mat-error *ngIf="Password.hasError('minLength')">
          Password should have length of greter than 10
        </mat-error>
          <mat-error *ngIf="Password.hasError('pattern')">
              Password should have atleast 1 upercase, 1 lowercse , l number and symbol
          </mat-error>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <mat-form-field>
        <mat-label>Confirm Password:</mat-label>
        <input formControlName="ConfirmPassword" required matInput type="password">
        <!-- <mat-icon matSuffix>lock</mat-icon> -->
        <mat-error *ngIf="ConfirmPassword.invalid">
          Password must match
      </mat-error>
      </mat-form-field>
    </div>
  </div>

</div>
<div>
    <button mat-flat-button color="primary" style="color: white;" [disabled]="!ChangePasswordForm.valid" (click)="changePassword()">Change Password</button>
    <button mat-flat-button color="warn" class="m-l" (click)="cancel()">Cancel</button>
</div>
</div>
