<div fxFlex="100" class="mt-2 pt-3">
  <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">
    <h1 class="title">{{ 'pageHeader.OurServices' }}</h1>
    <p class="secondary-text-color mt-2">{{ 'pageHeader.OurServicesSubText' }}</p>
  </div>
  <div fxLayout="row wrap" class="mt-2">
    <div fxFlex="100">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-24">

        <div *ngFor="let customerService of services" fxLayout="column"
             class="flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg text-center "

        >
          <div class="px-4 py-5 flex-auto">
            <div
              class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-primary"
            >
              <mat-icon class="mat-icon-xlg green-font text-center">{{ customerService.Icon }}
              </mat-icon>
            </div>


            <h6 class="text-xl font-semibold">{{ customerService.Title }}</h6>

            <p class="mt-2 mb-4 text-gray-600">
              {{ customerService.Desc }}
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
