.mat-elevation-z8 {
  margin: 35px;
}


.profile-registration {
  margin-bottom: 10px;
}

mat-label {
  font-size: smaller;
}


h4 {
  border-bottom: 1px solid #682622;
  width: 90%;
  margin-bottom: 10px;
  padding-bottom: 1px;
}
