<mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <img mat-card-image src="/assets/LIB-logo.png" alt="" style="margin-left: 200px; margin-right: 15px; border-radius: 45%;">
    <span>Lion International Bank</span>
    <span class="example-spacer"></span>
<span style="margin-left: 1000px;">
</span>

 <!-- <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn"><mat-icon>person</mat-icon>{{userName}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changePassword()">Change Password</button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu> -->

</mat-toolbar>
<router-outlet></router-outlet>